import { OmitType, PartialType } from "@nestjs/swagger";
import { <%= classify(name) %>CreateDto } from "./<%= dasherize(name) %>-create.dto";
import { I<%= classify(name) %>Update } from "../<%= dasherize(name) %>.type";

export class <%= classify(name) %>UpdateDto extends OmitType(PartialType(<%= classify(name) %>CreateDto), []) implements I<%= classify(name) %>Update {}


