import { OmitType } from "@nestjs/swagger";
import { NoDataResponseDto } from "@utils/.boilerplate/dto/response.dto";

export class Update<%= classify(name) %>ResponseDto extends NoDataResponseDto {}
